<html>
    <head>

    </head>
    <body>
        <form action="/category_products" method = "GET">
            <p>Inserisci il nome dell film <input type = "text" name = "category_id" /></p>
            <p><input type = "submit" value = "per categoria" /></p>
        </form>
        <form action="/price_range_products" method = "GET">
            <p>Inserisci il nome dell film <input type = "text" name = "min_price" /></p>
            <p>Inserisci il nome dell film <input type = "text" name = "max_price" /></p>
            <p><input type = "submit" value = "per soldi" /></p>
        </form>
        <form action="/name_contains_products" method = "GET">
            <p>Inserisci il nome dell film <input type = "text" name = "name_contains" /></p>
            <p><input type = "submit" value = "per nome" /></p>
        </form>
        <form action="/category_counts" method = "GET">
            <p><input type = "submit" value = "contare" /></p>
        </form>
        <form action="/category_counts_chart" method = "GET">
            <p><input type = "submit" value = "grafico" /></p>
        </form>
    </body>
</html>